<app-barra-busqueda></app-barra-busqueda>
<div class="container-fluid">
  <div class="row w-100">
    <div class="col-auto p-0" style=" position: fixed; z-index: 1">
      <app-menu-plegable [nombre]="'Explorar'"></app-menu-plegable>
    </div>
    <div class="col-auto p-0" style="z-index: 0">
      <app-sidebar [nombre]="'Explorar'"></app-sidebar>
    </div>
    <div class="col px-5 w-100 p-0" style="z-index: 0">
      <div class="row justify-content-center py-3">
        <app-tarjeta class="col-auto mx-1 p-0" *ngFor="let tarjeta of arregloTarjetas;let i = index"
                     [nombre]="tarjeta.nombre" [icono]="tarjeta.icono"
                     style="width: 210px !important;">
        </app-tarjeta>
      </div>
      <div class="row px-5 py-3">
        <h6 style=""><b>Videos populares</b></h6>
        <app-video-explorar *ngFor="let video of arregloVideos;let i = index" [video]="video"></app-video-explorar>
      </div>

    </div>
  </div>
</div>
