<div class="collapse collapse-horizontal p-0 overflow-auto" style="height: 700px" id="navbarToggleExternalContent">
  <div class="d-flex flex-column flex-shrink-0 bg-light py-3">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" *ngFor="let ruta of arregloRutas;let i = index">
        <a [routerLink]="ruta.link" class="nav-link ps-4 pe-2" aria-current="page">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon"
              style="pointer-events: none;width: 25px;">
            <g class="style-scope yt-icon">
              <ng-container
                *ngIf="nombre==ruta.nombre; then iconoActivo; else iconoNormal">
              </ng-container>
              <ng-template #iconoActivo>
                <path [attr.d]="[ruta.icono_activo]" class="style-scope yt-icon"></path>
              </ng-template>
              <ng-template #iconoNormal>
                <path [attr.d]="[ruta.icono]" class="style-scope yt-icon"></path>
              </ng-template>
            </g>
          </svg>
          <span class="px-4 text-black" style="font-size: 14px">{{ruta.nombre}}</span>
        </a>
      </li>
    </ul>

    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" *ngFor="let personal of arregloPersonales;let i = index">
        <a href="#" class="nav-link ps-4 pe-2" aria-current="page">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon"
               style="pointer-events: none;width: 25px;">
            <g class="style-scope yt-icon">
              <path [attr.d]="personal.icono" class="style-scope yt-icon"></path>
            </g>
          </svg>
          <span class="px-4 text-black" style="font-size: 14px">{{personal.nombre}}</span>
        </a>
      </li>
    </ul>

    <hr>

    <span class="ps-4 text-bold"><b>Suscripciones</b></span>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item" *ngFor="let suscripcion of arregloSuscripciones;let i = index">
        <a href="#" class="nav-link ps-4 pe-2 py-2" aria-current="page">
          <img class="rounded-circle" [src]="suscripcion.foto" width="25px" alt="">
          <span class="px-4 text-black" style="font-size: 14px">{{suscripcion.nombre}}</span>
        </a>
      </li>
    </ul>

  </div>
</div>

